body {
  background-color: rgb(62, 93, 139);
  /* background-color: rgb(48, 50, 53); */
  overflow-y: hidden;
}

.min-width-25{
  min-width: 25vw;
}

.horizontal-shake {
  animation: horizontal-shaking ease 4s infinite;
}

@keyframes horizontal-shaking{
  0% { transform:translate(0,0) }
  2% { transform:translate(5px,0) }
  4% { transform:translate(0,0) }
  6% { transform:translate(5px,0) }
  8% { transform:translate(0,0) }
  10% { transform:translate(5px,0) }
  12% { transform:translate(0,0) }
  100% { transform:translate(0,0) }
 }

 .table-responsive thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sombra {
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.45);
}